ASPNETCORE_ENVIRONMENT=Development

# Banco de dados
SA_PASSWORD=SuaSenhaForte
ConnectionStrings__AppDbConnectionString=Server=sqlserver,1433;Database=PayFlowDb;User Id=sa;Password=SuaSenhaForte;TrustServerCertificate=True;

# Cloudflare R2
CloudflareR2__AccountId=
CloudflareR2__AccessKey=
CloudflareR2__SecretKey=
CloudflareR2__BucketName=payflow
CloudflareR2__PublicUrl=

# JWT
Jwt__Secret=
Jwt__Issuer=PayFlow
Jwt__Audience=PayFlow
Jwt__ExpirationMinutes=60
