# Build artifacts
**/bin/
**/obj/
**/out/

# IDE / editor
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Logs e temporários
**/*.log
**/logs/

# Configs sensíveis
**/secrets.json
**/appsettings.Development.json
.env

# SO
.DS_Store
Thumbs.db

# NuGet
**/packages/
*.nupkg